-@ val name: String = "this is the default value"
-@ val age: Int = 10086
-@ val searchOptions: Map[String,String] = Map("name" -> "名称")

!!! 5
%html(lang="zh-cmn-Hans")
    %head
        %meta(charset="UTF-8")
        %meta{"http-equiv" => "Content-Type", :content => "text/html"}
        %link(rel = "stylesheet" type ="text/css" href = "../js/jquery-easyui-1.4.1/themes/gray/easyui.css" )
        %link(rel = "stylesheet" type ="text/css" href = "../js/jquery-easyui-1.4.1/themes/icon.css" )
        %link(rel = "stylesheet" type ="text/css" href = "../css/default.css" )
        %script(type="text/javascript" src="../js/jquery-easyui-1.4.1/jquery.min.js")
        %script(type="text/javascript" src="../js/jquery-easyui-1.4.1/jquery.easyui.min.js")
        %script(type="text/javascript" src="../js/extends.js")
        %script(type="text/javascript" src="../js/common.js")
    %body.easyui-layout
        %div#body(region="center")
            %div#search_area
                %div#conditon
                    %table(border="0")
                        %tr
                            - searchOptions.foreach(p =>
                                %td #{p._2}
                                %td
                                    %input(name="#{p._1}" id="#{p._1}")
                            - )
                            %td test

    %div#container.col
        %p  hello

    %p Hello #{name} #{age}


    !=name

    :javascript
        function test() {
            //            alert("Hello jade");
        };
        test();