-@ val name: String = "this is the default value"
-@ val age: Int = 10086

!!! 5
html(lang="zh-cmn-Hans")
    body
        div#container.col
            p  hello
    p Hello #{name} #{age}

    :javascript
        function  test() {
            //            alert("Hello jade");
        };
        test();


    div#id.class
        p  hello
    p Hello #{name} #{age}
    !=name
    :javascript
        function test() {
            //            alert("Hello jade");
        };
        test();


    script(type="text/javascript")
        | function dd () {return #{GridName}
        - searchOptions.foreach(p =>
            | #{p._2}
        - )
        | }